html {
    background: #ffffff;
}
body{
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: normal;
	background-color: #ffffff;
}
header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

table.computers em {
    color: #aaa;
}

table.computers .introduced, table.computers .discontinued {
    width: 10%;
    min-width: 100px;
}

table.computers .company_name {
    width: 30%;
    min-width: 300px;
}

table.computers .header a {
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

/*** Define the search Table's style ***/

.tb_searchbar {
	BACKGROUND: #accaec;BORDER: D4D4D4 1px solid; margin-bottom:0px;
}
.tb_searchbar .select {
	MARGIN-TOP: 19px! important; TEXT-ALIGN: left
}
.tb_searchbar TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px;BACKGROUND: #ffffff;  PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.tb_searchbar TH {
	BORDER-TOP: white 1px solid; BACKGROUND: #B9D0FE; BORDER-LEFT: white 1px solid
}
.tb_searchbar .td_head TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left;
}
.tb_searchbar .td_head {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left; background: url(../images/searchtab_head_bg.gif) center repeat-x 
}
.tb_searchbar .td_head span{
	background: url(../images/seach_ico.gif) 6px 0px no-repeat; padding-left:26px; line-height:19px; color:#2d4f81; font-weight:bold;}

.tb_searchbar .td_title TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #d7e4f2; BORDER-LEFT: white 1px solid ;
}
.tb_searchbar .td_title {
	BORDER-TOP: white 1px solid; BACKGROUND: #d7e4f2; BORDER-LEFT: white 1px solid
}
.tb_searchbar .td_detail TD {
}
.tb_searchbar .td_detail {
}
.tb_searchbar .td_tail TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;
}
.tb_searchbar .td_tail {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;  
}
.tb_datalist_titletab{ border:1px solid #accaec; border-bottom:0px; }

.tb_datalist_title {BORDER-TOP: white 1px solid;BORDER-LEFT: white 1px solid; background:url(../images/searchtab_head_bg.gif) center repeat-x }

.tb_datalist_title span{background: url(../images/list_ico.gif) 6px 0px no-repeat; padding-left:26px; line-height:24px; color:#2d4f81; font-weight:bold;}

.detail_tab {
	BACKGROUND: #accaec;BORDER: D4D4D4 0px solid;  
}
.detail_tab .select {
	MARGIN-TOP: 19px! important; TEXT-ALIGN: left
}
.detail_tab TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px;BACKGROUND: #ffffff;  PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.detail_tab TH {
	BORDER-TOP: white 1px solid; BACKGROUND: #B9D0FE; BORDER-LEFT: white 1px solid
}
.detail_tab .td_head TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left;
}
.detail_tab .td_head {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ;TEXT-ALIGN : left; background: url(../images/searchtab_head_bg.gif) center repeat-x 
}
.detail_tab .td_head span{
	background: url(../images/list_ico.gif) 6px 0px no-repeat; padding-left:26px; line-height:19px; color:#2d4f81; font-weight:bold;}

.detail_tab .td_title TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #d7e4f2; BORDER-LEFT: white 1px solid ;
}
.detail_tab .td_title {
	BORDER-TOP: white 1px solid; BACKGROUND: #eee; BORDER-LEFT: white 1px solid
}
.detail_tab .td_detail TD {
	BORDER-TOP: white 1px solid; BACKGROUND: #f1f6fa; BORDER-LEFT: white 1px solid ;line-height:24px;
}
.detail_tab .td_detail {
	BORDER-TOP: white 1px solid; BACKGROUND: #f1f6fa; BORDER-LEFT: white 1px solid; line-height:24px;
}
.detail_tab .td_tail TD {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;
}
.detail_tab .td_tail {
	BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid ; text-align: Right;  
}
.body-right {
	/* OVERFLOW: hidden; BORDER-TOP: #b6cfea 1px solid; BORDER-RIGHT: #b6cfea 1px solid; BORDER-BOTTOM: #b6cfea 1px solid; FLOAT: center; BORDER-LEFT: #b6cfea 1px solid; BACKGROUND-COLOR: #f5f8fb */
}
.body-right .page-path {
	HEIGHT: 30px; BORDER-BOTTOM: #b6cfea 1px solid; CLEAR: both; LINE-HEIGHT: 30px; WIDTH: 100%
}
.body-right .topwebsitename {
	FLOAT: left; PADDING-LEFT: 10px
}
.body-right .path {
	OVERFLOW: hidden; HEIGHT: 100%; BACKGROUND: url(../images/layout.png) no-repeat 8px center; FLOAT: left; COLOR: #004a00; PADDING-LEFT: 24px
}
.body-right .body-content {
	OVERFLOW: hidden; PADDING-BOTTOM: 10px; PADDING-TOP: 15px; PADDING-LEFT: 0px; MARGIN: 0px auto; LINE-HEIGHT: 1.5em; PADDING-RIGHT: 0px; WIDTH: 99%
}

.selectimg {
    background: url(../images/multiselect.gif) repeat-x;
	position:absolute; 
	margin:-1px 0px 0px -1px;
	*margin:0px 0px 0px -1px;
	width:19px; 
	height:21px;
	display: inline;
	line-height:21px; 
	vertical-align:middle;  
}


.selectimgon {
    background: url(../images/multiselect-hover.gif) repeat-x;
	position:absolute;  
	margin:-1px 0px 0px -1px;
	*margin:0px 0px 0px -1px;	
	width:19px;
	height:21px;  
	line-height:21px; 
	vertical-align:middle;
	display: inline;
}

#fm{
          margin:0;
          padding:10px 30px;
}
.ftitle{
    font-size:14px;
    font-weight:bold;
    padding:5px 0;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
}
.fitem{
    margin-bottom:5px;
}
.fitem label{
    display:inline-block;
    width:80px;
}
.fitem input{
    width:160px;
}

